@charset "UTF-8";

.logo {
	display: flex;
	padding: 1rem;
	justify-content: center;
	align-items: center;
}
	
.header__menu {
	font-size: 0.75em;
	display: flex;
	justify-content: flex-end;
	margin: 1rem;
	height: calc(100% - 5rem);
}

.header__menu li {
	margin-right: 1rem;
}

.header__menu li a {
	color: white;
}